<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ams.dao.RolePowerRefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ams.pojo.RolePowerRef">
        <id column="role_power_id" property="rolePowerId" />
        <result column="power_index" property="powerIndex" />
        <result column="role_id" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_power_id, power_index, role_id
    </sql>
    <delete id="delByRoleId">
        delete  from role_power_ref where role_id = #{roleId}
    </delete>
    <select id="selectPower" resultType="java.lang.Integer">
        SELECT count(*) FROM
            role_power_ref
        WHERE role_id = #{roleId} and power_index = #{powerIndex}
    </select>


</mapper>
