<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ams.dao.SysDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ams.pojo.SysDept">
        <id column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <result column="up_time" property="upTime"/>
        <result column="down_time" property="downTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dept_id, dept_name,up_time, down_time
    </sql>
    <!--============查询上班时间和下班时间==========-->
    <select id="selectByTime" resultType="com.ams.pojo.SysDept">
        select up_time, down_time
        from sys_dept
        where dept_name = #{department}
    </select>

</mapper>
